
body {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
    height: 100vh;
    width: 100%;
    background: white;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    width: 100%;
    margin: 0 auto;

}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:75%;
    height:100vh;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    text-align: center;
}
.intro__inner p {
	font-size: 35pt;
    font-weight: bold;
	color: #000;
}

.colortext {
    color: #2ACCE2;
}

.header {
    width: 100%;
    height: 70px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 20pt;
    font-weight: 700;
    color: white;
	margin:20px;
}
.regimg{
    width:10vw;
}
.nav {
    font-size: 14px;
	margin-top: 20px;
    margin-right: 150px;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    position: relative;

    color: #000;
    text-decoration: none;

    transition: color .2s linear;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    
    
    background-color: #49B9DC;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 0;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #49B9DC; 
}

.nav__link:hover:after {
    display: block;
    opacity: 1;    
}

.btn {
    display: inline-block;
    background-color: #49B9DC;
    vertical-align: top;
    padding: 14px 45px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 21px;
}

.btn:hover {
    background-color: #76c9e3;
    color: white;
}

.btnn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 45px;
    border-color:#EA6161;
    background-color: #EA6161;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 21px;
}
.blue{
    background-color: #49B9DC;
}

.btnn:hover {
    background-color: #f57373;
    color: white;
}
.blue:hover{
    background-color: #76c9e3;
}
.btnnn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 45px;
    background-color: #fff;
    font-size: 18px;
    border-color:#49B9DC;
    font-weight: bold;
    color: #49B9DC;
    text-decoration: none;
    border-radius: 21px;
}
.btnnn:hover {
    background-color: #F4F4F4;
    border-color: #76c9e3;
}
.btn {
    width: 400px;
    height: 550px;
}
.btn p {
    color: #fff;
}
.btn:hover {
    background-color: #49B9DC;
    color: white;
}
#wrapper { overflow: hidden; }
form {

}

.image img
{
    border-radius: 250px;
    object-fit: cover;
    width:500px;
    height:500px;
    margin: 0 auto;
}
input[type=radio]:checked + label { opacity: 1; }

input[type=text] {
    background: #fff;
    border: none;
    border-radius: 8px;
    width:75%;
    font-size: 27px;
    opacity: 1;
    text-indent: 20px;
    transition: all .2s ease-in-out;
}
input[type=password] {
    background: #fff;
    border: none;
    border-radius: 8px;
    font-size: 27px;
    width: 75%;
    opacity: 1;
    text-indent: 20px;
    transition: all .2s ease-in-out;
}
button {
    margin-top: 50px;
    background: #0D79DD;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 27px;
    height: 72px;
    width: 250px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all .3s cubic-bezier(.6,0,.4,1);
}
button span {
    display: block;
    line-height: 72px;
    position: relative;

}
button:hover {
    background: #2c89de;
}
footer{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    justify-content: space-around;
    margin-top:50px;
    width: 100%;
    height: 300px;
    background: rgba(47, 123, 155, 1);
    font-family: Manrope;
}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-logo{
    width: 40px;
}
.footer-logo-block{
    display: flex;
    align-items: center;
    align-content: center;
    width: 120px;
    height: 120px;
}
.footer-links{
    display: flex;
    flex-direction: column;
}
.contacts-social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.footer-rights{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: aliceblue;
}
.links-title{
    font-size: 20px;
    color: aliceblue;
    font-weight: 800;
    letter-spacing: 1.5px;
}
.link{
    color: rgb(189, 208, 224);
    text-decoration: none;
    font-size: 15px;
    margin-top: 5px;
    transition: all 0.3s;
}
.link:hover{
    text-decoration: underline;
    color: aliceblue;
}
.register
{
    display: flex;
    flex-flow: nowrap row;
    gap:50px;
}
.register div{
    display: flex;
    flex-flow: column wrap;
    border:3px solid;
    height: 100%;
    min-height: 350px;
}
.register a{
    text-decoration: none;
    flex:1;
    height: 100%;
}
/*              section-top                */
.section-top{
    display: flex;
    flex-flow:column wrap;
}
.section-top__description{
    width:75%;
    display: flex;
    margin:0 auto;
}
.section-top__description__left{
    display: flex;
    flex-direction: column;
}
.section-top__description__right{
    width: 640px;
    height: 427px;
}
.section-top__description__right_img{
    width: 640px;
    height: 427px;
}
.section-top__description__h1{
    font-weight: 800;
    font-size: 40px;
}
.section-top__form__h1{
    color: white;
    font-size: 36px;
    font-weight: 700;
    width: 860px;
    height: 112px;
    margin: 0;
}
.section-top__description__h2{
    font-weight: 300;
    font-size: 27px;
}
.section-top__form{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    gap:50px;
    flex-direction: column;
    background-color: #87C1D9;
    padding: 50px 0;
    border-radius: 28px;
    width: 72.5%;
    margin: 150px auto;
    box-shadow: 0 -10px #78B6C3;
    align-items: flex-start;
}
.section-top__form__input{
    width: 520px;
    height: 72px;
    border: 0;
    border-radius: 17px;
    font-size: 28px;
    font-weight: 300;
}
.section-top__form__label__file{
    display: none;
}
.section-top__form * {
    width:75%;
    margin-left: 50px;
}
.section-top__form__label
{
    text-align: left;
    color: white;
    font-size: 28px;
    font-weight: 700;
}
.section-top__form input[type=password],.section-top__form textarea,.section-top__form select
{
    text-indent: 20px;
}
.section-top__form__input::placeholder{
    color: #808080;
}
#org_name{
    margin-top: 80px;
}
#vol_name{
    margin-top: 80px;
}
.image
{
    width:75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#help_name{
    margin-top: 80px;
}
#DOB{
    width: 236px;
}
#description{
    width: 894px;
    height: 339px;
    border: 0;
    border-radius: 17px;
    font-size: 28px;
    font-weight: 300;
    resize: none;
}
#description::placeholder{
    color: #808080;
}
.section-top__form__p{
    color: white;
    font-size: 28px;
    font-weight: 700;
    width: 860px;
    height: 112px;
    padding: 0 0 0 50px;
    margin: 0;
}
.section-top__form__select{
    width: 860px;
    height: 72px;
    border: 0;
    border-radius: 17px;
    font-size: 28px;
    font-weight: 300;
    color: #808080;
}
.section-top__form__button{
    width: 402px;
    height: 98px;
    border: 0;
    border-radius: 17px;
    margin: 30px auto;
    color: white;
    background-color: #0D79DD;
    font-size: 28px;
    font-weight: 400;
}
.section-top__form__checkbox{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 50px;
    margin: 0;
}
.section-top__form__checkbox__p{
    color: white;
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}
.section-top__form__checkbox__div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}
.section-top__form__div1{
    width: 1000px;
    display: flex;
}
.section-top__form__checkbox__label{
    color: white;
    font-size: 28px;
    font-weight: 700;
    align-items: center;
    margin: 0;
}
.section-top__form__checkbox__input{
    border: 0;
    border-radius: 4px;
    width: 33px;
    height: 33px;
    margin: 0;
}
.section-top__form__p{
    color: white;
    font-size: 24px;
    font-weight: 700;
    width: 860px;
    height: 112px;
    padding: 0 0 0 50px;
    margin: 0;
}
.section-top__form__p1{
    color: white;
    font-size: 24px;
    font-weight: 700;
    width: 860px;
    padding: 0 0 0 50px;
    margin: 0;
}
.section-top__form__select{
    width: 860px;
    height: 72px;
    border: 0;
    border-radius: 17px;
    font-size: 28px;
    font-weight: 300;
    color: #808080;
    margin: 50px;
}